<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    block head
      link(rel="stylesheet", href="/main.css")
  body
    block body
    .errors
      - var errors = req.flash('error')
      each error in errors
        p= error
