extends layout/main.pug

block append head
  script(src='/socket_auth.js')

block body
  .Header
    span.Header_Location Cancel
    h1.Title Encore - Sign in

  .Auth
    .SNS_Auth
      ul
        a(href='/auth/facebook')
          li 
            img(src='img/facebook.svg')
            span Sign in with Facebook
        a(href='/auth/google')
          li
            img(src='img/google.svg')
            span Sign in with Google
    .Email_Auth
      form(method='POST' action='/auth/local')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='text' placeholder='Email' name='email' autofocus)
        input(type='password' placeholder='Password' name='password')
        button(type='submit') Sign in
    .Forgot_Auth
      a(href='/auth/forgot') Forgot your password?
    .Signup_Auth
      a(href='/auth/register') Sign up 
