extends layout/main.pug

block body
  .Header
    span.Header_Location 
      a(href='/auth') Back
    h1.Title Encore - Reset Password

  .Forgot
    .Email_Forgot
      form(method='POST')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='text' placeholder='Email' name='email' autofocus)
        button(type='submit') Reset your password
