extends layout/main.pug

block body
  .Header
    span(onclick='window.close()').Header_Location Cancel
    h1.Title Encore - Sign up

  .Register
    .Email_Register
      form(method='POST' action='/auth/register')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='text' placeholder='Email' name='email' autofocus)
        input(type='text' placeholder='Username' name='username')
        input(type='password' placeholder='Password' name='password')
        input(type='password' placeholder='Confirm password' name='confirm')
        button(type='submit') Sign up
    .Signin_Register
      a(href='/auth') Sign in
