extends layout/main.pug

block append head
  script(src='/socket_reset.js')

block body
  .Header
    h1.Title Encore - Reser Password

  .Forgot
    .Email_Forgot
      form(method='POST')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='password', name='password', placeholder='New password', autofocus)
        input(type='password', name='confirm', placeholder='Confirm password')
        button(type='submit') Reset your password
